<html>
    <body>
        <h1>Que es Docker</h1>
        <p>
            Docker le proporciona una manera estándar de ejecutar un código,
            docker es un sistema operativo para contenedores de manera similar 
            a cómo una máquina virtual virtualiza (elimina la necesidad de administrar 
            directamente) el hardware del servidor, los contenedores virtualizan el sistema 
            operativo de un servidor. Docker se instala en cada servidor y proporciona comandos 
            sencillos que puede utilizar para crear, iniciar o detener contenedores.
        </p>
        <br><a href="/" class="btn" style="color:rgb(59, 114, 235)">"Atras"</a></br>
    </body>
</html>