<html>
    <body>
        <h1>Que es un contenedor</h1>
        <p>
            Un contenedor es un formato de empaquetado que empaqueta 
            todo el código y las dependencias de una aplicación en un 
            formato estándar que le permite ejecutarse de manera rápida 
            y confiable en todos los entornos informáticos. Un contenedor 
            Docker es un contenedor ejecutable, independiente, liviano y 
            popular que incluye todo lo necesario para ejecutar una aplicación, 
            incluidas bibliotecas, herramientas del sistema, código y tiempo de ejecución. 
            Docker también es una plataforma de software que permite a los desarrolladores 
            crear, probar e implementar aplicaciones en contenedores rápidamente.
        </p>
        <br><a href="docker" class="btn" style="color:rgb(59, 114, 235)">Docker</a></br>
        <br><a href="ubuntu" class="btn" style="color:rgb(59, 114, 235)">Ubuntu</a></br>
    </body>
</html>